<!-- to consider:
fonts
hover action
resize effect on divs and other elements
footer (privacy, modern slavery act etc)
navbar (probably with dead links)-->


<style>

h1 {
  text-align: center;
  font-family: 'Merriweather', serif;
  font-size: 80;
  color: black;
}

h2 {
  text-align: center;
  font-family: 'Merriweather', serif;
  font-size: 60;
  color: white;
}

.text_div {
  margin-top: 80%;
}

body {
  background-image: url("https://source.unsplash.com/rxQL0ieF_Bs");
  text-align: center;
  width: 100vw;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 100vw;

}

.background_div {
    background: white;
    opacity:0.7;
    position:absolute;
    top:0;
    bottom:0;
    right:0;
    left:0;
    background-repeat: no-repeat;
    background-size: cover;
    z-index:-1;
    height: 120vh;

}

.wrapper {
  width: 100vw;
  margin: 0 auto;
  margin-top: 40px;
  display: grid;
  grid-gap: 40px;
  grid-template-rows: auto auto auto auto;
  grid-template-columns: auto auto;
  column-gap: unset;
}

<!-- .wrapper > div {
  background-color: rgba(255, 255, 255, 0.4);
  z-index: 2;
} -->

.one {
  grid-column: 1 / 2;
  grid-row: 1;
  <!-- border: 1px solid black; -->
  <!-- grid-auto-rows: minmax(100px, auto); -->
}

.two {
  grid-column: 1;
  grid-row: 2;
  margin-left: 15vw;
  margin: 0 auto;

}

.three {
  grid-column: 2;
  grid-row: 2;
  margin-right: 15vw;
  margin: 0 auto;

}

#item1 {
grid-column: span 2;
}

#item4 {
  grid-column: span 2;
}

#sign_up_door_div {
  position: relative;
  width: 400px;
  height: 750px;
  overflow: hidden;
  border: 3px solid white;
}

#login_door_div {
  position: relative;
  width: 400px;
  height: 750px;
  overflow: hidden;
  border: 3px solid white;
}

#img1 {
  position: absolute;
  top: -9999px;
  left: -9999px;
  right: -9999px;
  bottom: -9999px;
  margin: auto;
  padding-bottom: 300px;
  padding-right: 20px;
  z-index: -1;

}

#img2 {
  position: absolute;
  top: -9999px;
  left: -9999px;
  right: -9999px;
  bottom: -9999px;
  height: 120%;
  margin: auto;
  padding-bottom: 30px;
  padding-left: 30px;
  z-index: -2;

}

input:hover {
  opacity: 0.7;
}

</style>

<html>
<head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bangers&family=Cormorant+Garamond:wght@300&family=Dongle:wght@300;400;700&family=IBM+Plex+Serif:wght@100;300&family=Julius+Sans+One&family=Merriweather:ital,wght@0,300;0,400;1,300&family=Prata&family=Roboto+Mono&family=Russo+One&family=Varela+Round&display=swap" rel="stylesheet">
<!-- CSS rules to specify families

font-family: 'Bangers', cursive;
font-family: 'Cormorant Garamond', serif;
font-family: 'Dongle', sans-serif;
font-family: 'IBM Plex Serif', serif;
font-family: 'Julius Sans One', sans-serif;
font-family: 'Merriweather', serif;
font-family: 'Prata', serif;
font-family: 'Roboto Mono', monospace;
font-family: 'Russo One', sans-serif;
font-family: 'Varela Round', sans-serif; -->
</head>
<body>

  <div>
    <% if @user %>

    Logged in as <%= @user.username %>

    <% end %>
  </div>

<div class="wrapper">

<div class="background_div">
  </div>

  <div class="one" id="item1">
    <h1>Mi Casa Su Casa </h1>
  </div>

  <div class="two" id="sign_up_door_div">
    <div class="text_div">
      <h2>Sign Up</h2>
    </div>
    <form action='/user/new' method='get'>
    <input type="image" id="img1" src='https://source.unsplash.com/PWjA3zA497I' />
    <input type="hidden" name="sign_up" value="sign_up" />
    </form>
  </div>

  <div class="three" id="login_door_div">
    <div class="text_div">
      <h2>Login</h2>
    </div>
    <form action='/sessions/new' method='get'>
    <input type="image" id="img2" src='https://source.unsplash.com/f7pTMJ1ekqI' />
    <input type="hidden" name="login" value="login" />
    </form>
  </div>

</div>

</body>
</html>
