<!-- to consider:
fonts
hover action
resize effect on divs and other elements
footer (privacy, modern slavery act etc)
navbar (probably with dead links)-->


<style>

h1 { 
  text-align: center;
}
body {
  background: white;
  text-align: center;
}

#wrapper { 
  width: 1000px; 
  margin: 0 auto;
  display: grid;
  grid-template-columns: 2;
}

.one {
  grid-column: 1;
  grid-row: 1;
  margin: 0 auto;

}

.two {
  grid-column: 2;
  grid-row: 1;
  margin: 0 auto;

}

#sign_up_door_div {
  position: relative;
  width: 400px;
  height: 750px;
  overflow: hidden;
  border: 3px solid black;

}

#login_door_div {
  position: relative;
  width: 400px;
  height: 750px;
  overflow: hidden;
  border: 3px solid black;
}

#img1 {
  position: absolute;
  top: -9999px;
  left: -9999px;
  right: -9999px;
  bottom: -9999px;
  margin: auto;
  padding-bottom: 300px;
  padding-right: 20px;

}

#img2 {
  position: absolute;
  top: -9999px;
  left: -9999px;
  right: -9999px;
  bottom: -9999px;
  height: 120%;
  margin: auto;
  padding-bottom: 30px;
  padding-left: 30px;

}

</style>



<body>

  <h1> Welcome to MakersBnB </h1>

  <% if @user %>

  Logged in as <%= @user.username %>

  <% end %>

<div id="wrapper">

  <div class="one" id="sign_up_door_div">
    <form action='/user/new' method='get'>
    <input type="image" id="img1" src='https://source.unsplash.com/PWjA3zA497I' />
    <input type="hidden" name="sign_up" value="sign_up" />
    </form>
  </div>

  <div class="two" id="login_door_div">
    <form action='/user/new' method='get'>
    <input type="image" id="img2" src='https://source.unsplash.com/f7pTMJ1ekqI' />
    <input type="hidden" name="login" value="login" />
    </form>
  </div>

</body>
