<!DOCTYPE html>

<html>

  <head>
    <title>Create User</title>
      <link href="<%= url('../../styles_add.css') %>" rel="stylesheet" 
      type="text/css" />
      <link href="https://fonts.googleapis.com/css2?family=Bangers&family=Cormorant+Garamond:wght@300&family=Dongle:wght@300;400;700&family=IBM+Plex+Serif:wght@100;300&family=Julius+Sans+One&family=Merriweather:ital,wght@0,300;0,400;1,300&family=Prata&family=Roboto+Mono&family=Russo+One&family=Varela+Round&display=swap" rel="stylesheet">
  </head>

  <body>
     
    <div id="main-backdrop">
      <div class="sign-up-box"> 
        <h2>Add a space</h2> 
        <form action='/spaces/add' method= 'post' id='spaces_form'>
          <p>
            Name of space:
          <p>

        <input type='text' name='name_of_space' placeholder='space name'/><br>
        <input type='text' name='price_per_night' placeholder='price per night'/><br>

        </form>

        <textarea id="textarea" rows="4" cols="50" name="description" form="spaces_form" placeholder="Write a brief description...">
        </textarea><br>
        <input type='submit' value='Add Space' form='spaces_form'/>
      </div>
    </div>

  </body>

</html>
