<h1>Create a New Space</h1>

<form action='/spaces/add' method= 'post' id='spaces_form'>

  <input type='text' name='name_of_space' placeholder='space name'/><br>
  <input type='text' name='price_per_night' placeholder='price per night'/><br>

</form>

<textarea rows="4" cols="50" name="description" form="spaces_form" placeholder="Write a brief description...">
</textarea><br>
<input type='submit' value='Add Space' form='spaces_form'/>