<% if @user %>

  <%= @user.username %> logged in

<% end %>

<ul>
  <% @spaces.each do |space| %>
    <li class="space" id="space-<%= space.id%>">
      <%=space.name_of_space if space.available %>
      <form action="/spaces/request/<%= space.id %>" method="get">
        <input type="hidden" name="request"/>
        <input type="submit" value="request"/>
      </form>
      <!-- <input type="text" name="message" />
      <button type="button">send</button> -->
    </li>
  <%end%>
</ul>

<form action="/user" method="get">
  <input type="submit" value="User Page"/>
</form>

<form action="/spaces/add" method="get">
  <input type="submit" value="Add new space"/>
</form>