<ul>
  <% @spaces.each do |space| %>
    <li class="space" id="space-<%= space.id%>">
      <%=space.name_of_space if space.available %>
      <form action="/spaces/request/<%= space.id %>" method="post">
        <input type="hidden" name="request"/>
        <input type="submit" value="request"/>
      </form>
      <!-- <input type="text" name="message" />
      <button type="button">send</button> -->
    </li>
  <%end%>
</ul>
