
<h2>Sign up here</h2>
<form action="/user" method="post">
  <label for="username">
    Username
    <input type="text" name="username" placeholder="Enter Username" />
  </label>
  <input type="submit" value="Submit" />
</form>