
<h2>Login</h2>
<form action="/sessions" method="post">
  <label for="username">
    Username
    <input type="text" name="username" placeholder="Enter Username" />
  </label>
  <input type="submit" value="Log in" />
</form>
